html, body {
  background-color: lightslategrey;
  font-family: Helvetica, sans-serif;
}

body {
  margin: 0;
}

div.main-container {
  background-color: slategray;
  padding: 20px;
  margin: 0 auto;
  width: 50%;
}

input.list-title {
  background-color: rgba(0,0,0,0);
  border-style: none;
  color: dodgerblue;
  font-size: 30px;
  text-shadow: 2px 2px 0px black;
  margin: 0 0 10px 0;
}

div.topbar {
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
}

div.task-input {
  flex-grow: 1;
  display: flex;
  height: 50px;
  margin-right: 25px;
}

input.task-input-text {
  font-size: 20px;
  padding: 10px;
  flex: 1;
  border-style: none;
  border-radius: 10px 0 0 10px;
}

button.task-input-button {
  color: white;
  font-size: 14px;
  background-color: dodgerblue;
  min-width: 50px;
  width: 50px;
  border-style: none;
  border-radius: 0 10px 10px 0;
}

button.task-input-button:active {
  background-color: steelblue;
}

button.task-clear-all {
  background-color: indianred;
  border-style: none;
  border-radius: 10px;
  width: 100px;
  min-width: 100px;
  font-size: 20px;
  color: white;
}

div.task-empty {
  text-align: center;
  font-size: 24px;
  color: white;
}

div.task {
  display: flex;
  height: 50px;
  margin: 10px 0;
}

div.task-name {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: steelblue;
  color: white;
  flex: 1;
  border-radius: 10px 0 0 10px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.1);
}

button.task-mark-done {
  background-color: indianred;
  color: white;
  font-weight: bold;
  font-size: 20px;
  min-width: 50px;
  width: 50px;
  border-style: none;
  border-radius: 0 10px 10px 0;
  box-shadow: 1px 1px 10px rgba(0,0,0,.1);
}

button.task-mark-done:active {
  background-color: rgb(210,210,210);
}
